.circle{
    width: 105px;
    height: 105px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: solid white 10px;
}
.circleRed {
    background-color: #E6563B;
}
.circleOrange {
    background-color: #EB9D3A;
}
.circleGreen {
    background-color: #7CB06C;
}
.circleBlue {
    background-color: #00ABA9;
}