body{
    font-family: 'Anton', sans-serif;
    background-color: #F0F0F0;

}
#logo{
    height: 105px;
    width: 105px;
}
h1{
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3{
    font-size: 40px;
}
h4 {
    font-size: 32;
}
.circle h4{
    color: white;
}
h5 {
    font-size: 12px;
    padding-top: 8px;
}
p {
    margin: 0;
}
.logo {
    background-color: #F0F0F0;
}

.circle{
    width: 105px;
    height: 105px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: solid white 5px;
}
.circleRed {
    background-color: #E6563B;

}
.circleOrange {
    background-color: #EB9D3A;
}
.circleGreen {
    background-color: #7CB06C;
}
.circleBlue {
    background-color: #00ABA9;
}
.mini-circle{
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: black;
    font-size: 10px;

}

.para {
    font-family: 'Abel', sans-serif;
    font-size: 20px;


}

.parent-card{
    align-self: center;
}
.card-footer{
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
}

#apple, #man, #security, #macbook {
    border: solid #e6e6e6 10px;
    border-radius: 5px;
}

img{
    display: flex;
    width: auto;
    height: 200px;
}
.card-footer p{
    font-size: 10px;
}
div.card-footer {
    background: none;
}
hr {
    width: 80%;
}

@media only screen and (min-width:768px) {
    .circleRed, .circleOrange, .circleGreen, .circleBlue {
        /*background-color: #E6563B;*/
        margin-left: 10px;
        margin-right: 10px;

    }

    hr {
        width: 100%
    }

    .selected, .card-box {
        float: left;
    }

    .hello {
        float: right;
    }

    .aside {
        float: right;
        /*margin-left: auto;*/
    }

    img {
        display: flex;
        width: auto;
        height: 125px;
    }

    #apple, #man, #security, #macbook, .img-left {
        border: solid #e6e6e6 5px;
        border-radius: 2px;
    }

    .img-left {
        border: solid #e6e6e6 2px;
        border-radius: 1px;
    }

    div.card-footer {
        padding: 0;
    }

    /*div.col{*/
    /*padding: 0;*/
    /*margin-left: 1em;*/
    /*}*/
    /*div.col.d-flex.flex-row-reverse {*/
    /*margin: 3;*/
    /*}*/
    .mini-circle {
        width: 18px;
        height: 18px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        color: black;
        font-size: 10px;
        margin: 3px;
    }

    .img-left {
        height: 40px;
        width: 40px;
        float: left;
        margin-right: 10px;
        margin-bottom: 15px;

    }

    .aside {
        margin-bottom: 15px;
    }

    .aside.last {
        margin-right: 1em;
    }

    .img-left-no {
        height: 25px;
        width: 25px;
        float: left;
        /*padding-bottom: 10px;*/
    }

    .aside2 {
        margin-top: 20px;
    }
    #Tweet {
        display: flex;
        padding: 0;
    }
    strong {
        padding-top: 6px;
    }
    .last{
        margin-left: 434px;
        padding-top: 17px;
    }
}
@media only screen and (min-width:992px) {
    .last{
        margin-left: 711px;
        padding-top: 17px;
    }
   .aside-top {
       /*display: inline-flex;*/
       /*margin-right:0;*/
   }
    img{
        display: flex;
        width: auto;
        height: 200px;
    }

    .aside {
        float: left;
    }


}